@import "tailwindcss";

:root {
  --primary-color: #F97316;  
  --secondary-color: #FFFFFF;  
}



/* Background animation */
@layer utilities {
  @keyframes animate {
    0% {
      transform: translateY(0) rotate(0deg);
      opacity: 1;
      border-radius: 0;
    }
    100% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0;
      border-radius: 50%;
    }
  }

  .animate-circle {
    @apply absolute bottom-[-150px] bg-white/20 rounded-full;
    animation: animate 25s linear infinite;
  }
}